#header {
  background: rgba(5, 74, 133, 0.9);
  
}
 
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
    background: url("Anyar/assets/img/hero-bg.jpg") top center;
    background-size: cover;
    position: relative;
    margin-bottom: -90px;
    z-index: 99;
    transition: 0.3s;
  }
  
  #hero:before {
    content: " about-bg";
    background: rgba(6, 101, 183, 0.9);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
   
  #hero h1 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    padding-top: 120px;
  }
  
  #hero p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
    text-align: center;
    font-size: 20px;
  }
  
  
  
  
  
  @media (min-width: 1024px) {
    #hero p {
      width: 60%;
    }
  
    #hero .carousel-control-prev,
    #hero .carousel-control-next {
      width: 5%;
    }
  }
  
  @media (max-width: 768px),
  (max-height: 700px) {
    #hero {
      height: 100vh;
      padding: 100px 0;
    }
  
    #hero h{
      font-size: 28px;
    }
  } 
  
  
  .welcome1 {
   
    font-family: "welcome1";
  
  }
  
  @font-face {
    src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
    font-family: "welcome1";
  
  }
  

   /*--------------------------------------------------------------
  # Icon Boxes
  --------------------------------------------------------------*/
  .icon-boxes {
    padding-top: 0;
    position: relative;
    z-index: 100;
  }
  
  .icon-boxes .icon-box {
    padding: 40px 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 5px 10px 29px 0 rgba(68, 88, 144, 0.2);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  .icon-boxes .icon {
    margin: 0 auto 20px auto;
    display: inline-block;
    text-align: center;
  }
  
  .icon-boxes .icon i {
    font-size: 36px;
    line-height: 1;
    color: #f6b024;
  }
  
  .icon-boxes .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .icon-boxes .title a {
    color: #05579e;
  }
  
  .icon-boxes .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
    color: #777777;
  }
  /*--------------------------------------------------------------
  # About Us
  --------------------------------------------------------------*/
  .about {
    padding: 140px 0;
    background: url("Anyar/assets/img/about-bg.png") top center no-repeat;
    position: relative;
  }
  h2{
    text-align: center;
  }
  
  .about:before {
    content: "";
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .about .container {
    position: relative;
  }
  
  .about .content h3 {
    font-weight: 600;
    font-size: 26px;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    padding-left: 28px;
    position: relative;
  }
  
  .about .content ul li+li {
    margin-top: 10px;
  }
  
  .about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #0880e8;
    line-height: 1;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }
  
  .about .content .btn-learn-more {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: #0880e8;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #0880e8;
  }
  
  .about .content .btn-learn-more:hover {
    background: #0880e8;
    color: #fff;
    text-decoration: none;
  }
  
  @media (max-width: 992px) {
    .about {
      padding: 60px 0;
    }
  }
  
  .abt {
    margin-top: 20px;
  }
  .us{
  margin-bottom: 30px;
   color: #054a85;;
   text-align: center;

  }
  .us1{
    margin-bottom: 20px;
     color:black;
     text-align: center;
     font-family: "us1";

  
    }
    @font-face {
      src: url(Open_Sans/static/OpenSans/OpenSans-MediumItalic.ttf);
      font-family: "us1";
    }
    .us2{
      padding-top: 5px;
    }
  
    .zoom {
    
    
      transition: transform .4s;
      
      margin: 0 auto;
    }
    
    .zoom:hover {
      -ms-transform: scale(1.7); /* IE 9 */
      -webkit-transform: scale(1.7); /* Safari 3-8 */
      transform: scale(1.7); 
    }
  
.list {
  padding-left: 20px;
}

.list1 {
  padding-top: 8px;
  font-family: "list1";


}

@font-face {
  src: url(Open_Sans/static/OpenSans/OpenSans-SemiBoldItalic.ttf);
  font-family: "list1";

}

.list2 {
  padding-top: 10px;
  font-family: "list2";

}

@font-face {
  src: url(Open_Sans/static/OpenSans/OpenSans-SemiBoldItalic.ttf);
  font-family: "list2";

}

.list3 {
  border: 2px solid;
  height: 40px;
  width: 150px;
  text-align: center;
  margin-top: 25px;
  border-radius: 15px;
  color: #0880e8;

}

.list3:hover {
  background-color: #0880e8;
  color: #ffffff;
}

.list4 {
  padding-top: 15px;

}

.about2 {
  padding-top: 10px;
}

.learn {
  padding-top: 4px;
}

.hero2 {
  height: 250px;
}

.hero3 {
  padding-top: 100px;
}

.img {
  background-size: cover;

  background-position: center center;
  height: 600px;
  opacity: 1;
  transform: translateZ(0);
}

.eum {
  font-size: 34px;
  font-family: "eum";
}

@font-face {
  src: url(Raleway/Raleway-VariableFont_wght.ttf);
  font-family: "eum";

}

.eum1 {
  font-family: "eum1";
}

@font-face {
  src: url(Raleway/Raleway-VariableFont_wght.ttf);
  font-family: "eum1";

}

.space {
  padding-left: 120px;
  padding-top: 50px;
}

.space1 {
  padding-top: 10px;
}

.space2,
.space3,
.space4 {
  padding-top: 10px;
}

.service {
  text-align: center;
  padding-top: 60px;
  color: #054085;
}

.service1 {
  text-align: center;
  padding-top: 20px;
  font-family: "services1";
}

@font-face {
  src: url(Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
  font-family: "services1";
}

.r1,
.r2,
.r3,
.r4,
.r5,
.r6 {
  padding-left: 30px;
  padding-top: 40px;

}

.head {
  margin-top: 5px;
  font-size: 18px;
  font-family: "head";
  color: #343a40;
}

@font-face {
  src: url(Open_Sans/static/OpenSans/OpenSans-SemiBold.ttf);
  font-family: "head";

}

.p1 {
  padding-left: 40px;
  padding-top: 10px;
  font-size: 16px;
  font-family: "p1";

}

@font-face {
  src: url(Open_Sans/static/OpenSans/OpenSans-MediumItalic.ttf);
  font-family: "p1";
}

.ic {
  color: #f6b024;

}

.duis {
  font-family: "duis";
}

@font-face {
  src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
  font-family: "duis";
}

 
.cta {
  background: linear-gradient(rgba(5, 74, 133, 0.8), rgba(5, 74, 133, 0.9)), url("Anyar/assets/img/cta-bg.jpg") fixed center center;
  background-size: cover;
  padding: 120px 0px;
  margin-top: 100px;

}

.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 8px 26px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  border-radius: 50px;
  border: 2px solid #f6b024;
  color: #fff;
}

.cta .cta-btn:hover {
  background: #f6b024;
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

  /*--------------------------------------------------------------
  # Portfoio
  --------------------------------------------------------------*/
  .portfoio #portfolio-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
  }
  
  .portfoio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 18px 10px 18px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    margin: 0 3px 10px 3px;
    transition: all ease-in-out 0.3s;
    border-radius: 50px;
  }
  
  .portfoio #portfolio-flters li:hover,
  .portfoio #portfolio-flters li.filter-active {
    color: #fff;
    background: #0880e8;
  }
  
  .portfoio #portfolio-flters li:last-child {
    margin-right: 0;
  }
  
  .portfoio .portfolio-item {
    margin-bottom: 30px;
    overflow: hidden;
  }
  
  .portfoio .portfolio-item img {
    position: relative;
    top: 0;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .portfoio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: -50px;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: #0880e8;
    padding: 15px 20px;
  }
  
  .portfoio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
  }
  
  .portfoio .portfolio-item .portfolio-info p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .portfoio .portfolio-item .portfolio-info .preview-link,
  .portfoio .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 50px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: white;
    transition: ease-in-out 0.3s;
  }
  
  .portfoio .portfolio-item .portfolio-info .preview-link:hover,
  .portfoio .portfolio-item .portfolio-info .details-link:hover {
    color: #8ec8fb;
  }
  
  .portfoio .portfolio-item .portfolio-info .details-link {
    right: 15px;
  }
  
  .portfoio .portfolio-item:hover img {
    top: -30px;
  }
  
  .portfoio .portfolio-item:hover .portfolio-info {
    opacity: 1;
    bottom: 0;
  }
  
  /*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/
  .portfolio-details {
    padding-top: 40px;
  }
  
  .portfolio-details .portfolio-details-slider img {
    width: 100%;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #0880e8;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #05579e;
  }
  
  .portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(246, 176, 36, 0.08);
  }
  
  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  
  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  
  .portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
  }
  
  .portfolio-details .portfolio-description {
    padding-top: 30px;
  }
  
  .portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .portfolio-details .portfolio-description p {
    padding: 0;
  }
  .port1{
    color: #05579e;
 
  }
  .port2{
    font-family: "port2";
    padding-top: 10px;
  }
  @font-face {
    src: url(Open_Sans/static/OpenSans/OpenSans-MediumItalic.ttf);
    font-family: "port2";
  }
   /*--------------------------------------------------------------
  # Team
  --------------------------------------------------------------*/
  .team .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
    background: #fff;
  }
  
  .team .member .pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
  }
  
  .team .member .pic img {
    transition: ease-in-out 0.3s;
  }
  
  .team .member:hover img {
    transform: scale(1.1);
  }
  
  .team .member .member-info {
    padding-left: 30px;
  }
  
  .team .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #05579e;
  }
  
  .team .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
  }
  
  .team .member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #bfe0fd;
    bottom: 0;
    left: 0;
  }
  
  .team .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
  }
  
  .team .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .team .member .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #ecf6fe;
    color: #0665b7;
  }
  
  .team .member .social a i {
    font-size: 16px;
    margin: 0 2px;
  }
  
  .team .member .social a:hover {
    background: #0880e8;
    color: #fff;
  }
  
  .team .member .social a+a {
    margin-left: 8px;
  }
  
  .team1 {
    padding-top: 100px;
  }
  .team2
{
  color: #05579e;
}
  .team3{
text-align: center;
padding-top: 10px;
font-family: "team3";
  }
  @font-face {
    src: url(Open_Sans/static/OpenSans/OpenSans-MediumItalic.ttf);
    font-family: "team3";
  }
  

  /*--------------------------------------------------------------
  # Pricing
  --------------------------------------------------------------*/
  .pricing .box {
    padding: 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  
  .pricing h3 {
    font-weight: 400;
    margin: -20px -20px 20px -20px;
    padding: 20px 15px;
    font-size: 18px;
    font-weight: 700;
    color: #05579e;
    background: #f8f8f8;
  }
  
  .pricing h4 {
    font-size: 36px;
    color: #0880e8;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
  }
  
  .pricing h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
  }
  
  .pricing h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
  }
  
  .pricing ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
  }
  
  .pricing ul li {
    padding-bottom: 16px;
  }
  
  .pricing ul i {
    color: #0880e8;
    font-size: 18px;
    padding-right: 4px;
  }
  
  .pricing ul .na {
    color: #ccc;
    text-decoration: line-through;
  }
  
  .pricing .btn-wrap {
    margin: 20px -20px -20px -20px;
    padding: 20px 15px;
    background: #f8f8f8;
    text-align: center;
  }
  
  .pricing .btn-buy {
    background: #0880e8;
    display: inline-block;
    padding: 8px 35px 10px 35px;
    border-radius: 50px;
    color: #fff;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    transition: 0.3s;
  }
  
  .pricing .btn-buy:hover {
    background: #2b99f8;
  }
  
  .pricing .featured h3 {
    color: #fff;
    background: #0880e8;
  }
  
  .pricing .advanced {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #0880e8;
    color: #fff;
  }
  
.price1{
  padding-top: 100px;
  color: #05579e;
}
.price2{
  padding-top: 10px;
  text-align: center;
  font-family: "price2";
}
@font-face {
  src: url(Open_Sans/static/OpenSans/OpenSans-MediumItalic.ttf);
  font-family: "price2";
}
.advance{
  padding-top: 20px;
}


 /*--------------------------------------------------------------
  # Frequently Asked Questions
  --------------------------------------------------------------*/
  .faq .faq-list {
    padding: 0 100px;
  }
  
  .faq .faq-list ul {
    padding: 0;
    list-style: none;
  }
  
  .faq .faq-list li+li {
    margin-top: 15px;
  }
  
  .faq .faq-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    position: relative;
  }
  
  .faq .faq-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 30px;
    outline: none;
    cursor: pointer;
  }
  
  .faq .faq-list .icon-help {
    font-size: 24px;
    position: absolute;
    right: 0;
    left: 20px;
    color: #75bdfa;
  }
  
  .faq .faq-list .icon-show,
  .faq .faq-list .icon-close {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
  }
  
  .faq .faq-list .icon-show {
    display: none;
  }
  
  .faq .faq-list a.collapsed {
    color: #343a40;
  }
  
  .faq .faq-list a.collapsed:hover {
    color: #0880e8;
  }
  
  .faq .faq-list a.collapsed .icon-show {
    display: inline-block;
  }
  
  .faq .faq-list a.collapsed .icon-close {
    display: none;
  }
  
  @media (max-width: 1200px) {
    .faq .faq-list {
      padding: 0;
    }
  }
  
  .freq {
    padding-top: 80px;
  }
  
  .f1 {
    padding-left: 10px;
  }
  
  .help {
    color: #0880e8;
  }
  .spac{
    padding-top: 20px;
  }
  .spac1{
    color: #043c6d;
  }
  

 /* contact */
  
  
 .contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #444444;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.con.contact {
  background: url("Anyar/assets/img/contact-bg.png");
  position: relative;

}

.contact:before {
  content: "";
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.contact .container {
  position: relative;
}

.contact .info {
  width: 100%;
}

.contact .info i {
  font-size: 20px;
  background: #0880e8;
  color: #fff;
  float: left;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #043c6d;
}

tact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  border: 0;
  padding: 10px 32px;
  color: #0880e8;
  transition: 0.4s;
  border-radius: 50px;
  border: 2px solid #0880e8;
  background: #fff;
}

.contact .php-email-form button[type=submit]:hover {
  background: #0880e8;
  color: #fff;
}

.contact1 {
  padding-top: 70px;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.cont{
  padding-top: 40px;
}
.cont1{
  padding-top: 30px;
}

/* footer */

 
#footer {
  background: #05579e;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 16px;
}

.f1 {
  margin-top: 10px;
}


#footer .footer-newsletter {
  padding: 50px 0;
  background: #05579e;
}

#footer .footer-newsletter h4 {
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 18px;
  padding: 0 20px;
  margin: 3px;
  background: #f6b024;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #0880e8;
}

#footer .footer-top {
  background: #065fad;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 20px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 16px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  padding: 10px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #f6b024;
  color: #fff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #5db1f9;
  font-size: 20px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: rgba(255, 255, 255, 0.75);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}



#footer .credits {
  padding-top: 15px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

#footer .credits a {
  color: #f6b024;
}

.s1 {
  height: 50px;
}
.s2{
  color: black;
  padding-top: 20px;
}