body{
    overflow-x: hidden;
 } 
.container {
    height: 6480px;
    width: 100%;

}

.logo {
    height: 90px;
    width: 100%;
    display: flex;
}

.log1 {
    padding-left: 120px;
}

.log2 {
    padding-top: 13px;
    padding-left: 900px;
}

.businessman {
    height: 720px;
    width: 100%;
    background-image: url(IMAGES/yellow.jpg);
    display: flex;
}

.man1 {
    height: 680px;
    width: 600px;
   

}

.man2 {
    height: 650px;
    width: 600px;
   
    margin-top: 40px;

}

.man3 {

    height: 30px;
    width: 200px;
    margin-top: 40px;
    font-size: 20px;
    font-family: "sandy";

}

.man4 {
    height: 150px;
    width: 510px;
    margin-top: -18px;
    font-size: 24px;
    font-family: "sandy1";
    padding-top: -30px;
    line-height: 55px;
}

.man5 {
    height: 90px;
    width: 550PX;
    margin-top: 33px;
    font-family: "sandy2";
    font-size: 20px;
    margin-top: -15px;
    line-height: 30px;
}

.man6 {
    height: 120px;
    width: 500PX;
    margin-top: 10px;

}

.tick1,
.tick2 {
    height: 40px;
    width: 240PX;
    display: inline-block;
}

.tick3,
.tick4 {
    height: 40px;
    width: 240PX;
    display: inline-block;
    margin-top: 30px;
}

.t1 {
    margin-left: 30px;
    margin-top: -25px;
    font-family: "tick1";
    font-size: 18px;

}

.t2 {
    margin-left: 30px;
    margin-top: -25px;
    font-family: "tick2";
    font-size: 18px;

}

.t3 {
    margin-left: 30px;
    margin-top: -25px;
    font-family: "tick3";
    font-size: 18px;
}

.t4 {
    margin-left: 30px;
    margin-top: -25px;
    font-family: "tick4";
    font-size: 18px;

}

.tick5 {
    height: 50px;
    width: 420px;
    margin-top: 45px;
    border-radius: 65px;
    background-color: white;
    padding: 10px 20px;
    font-size: 18px;
    display: flex;

}

.t5 {
    height: 40px;
    width: 130px;
    font-size: 16px;
    padding: 2px 25px;
    margin-left: 35px;
    margin-top: 3px;
    border-radius: 40px;
    background-color: #f1bb13;

}

.t5:hover {
    background-color: darkred;
    color: #ffffff;

}

.t6 {
    text-align: center;
    margin-top: 12px;
}

.t7 {

    font-family: "sandy3";
    font-size: 16px;
}

@font-face {
    font-family: "sandy";
    src: url(Open_Sans/);
}

@font-face {
    font-family: "sandy1";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "sandy2";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "tick1";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "tick2";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "tick3";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "tick4";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "sandy3";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

.john {
    height: 1260px;
    background-color: #34365A;
}

.cena1 {
    height: 70px;
    width: 1000px;
    padding-top: 70px;
    margin-left: 110px;
    font-size: 48px;
    color: #ffffff;
    font-family: "john1";
}

@font-face {
    font-family: "john1";
    src: url(Open_Sans/static/OpenSans/OpenSans-Bold.ttf);

}

.cena2 {
    height: 400px;
    width: 100%;
    margin-top: 40px;
    margin-left: 110px;
    display: flex;
}

.cena3 {
    height: 378px;
    width: 270px;
    border-radius: 12px;
    background-color: #ffffff;

}

.cena4 {
    height: 378px;
    width: 270px;
    margin-left: 16px;
    border-radius: 12px;
    background-color: #ffffff;
}

.cena5 {
    height: 378px;
    width: 270px;
    margin-left: 16px;
    border-radius: 12px;
    background-color: #ffffff;

}

.cena6 {
    height: 378px;
    width: 270px;
    margin-left: 16px;
    border-radius: 12px;
    background-color: #ffffff;

}

.cena7 {
    text-align: center;
    color: #34365A;
    font-family: "cena7";
    font-size: 15px;
}

@font-face {
    font-family: "cena7";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf)
}

.cena8 {
    margin-top: 230px;
    text-align: center;
    color: #34365A;
    font-size: 20px;
    font-family: "cena8";
}

@font-face {
    font-family: "cena8";
    src: url(Open_Sans/README.txt)
}

.cena9 {
    margin-top: 230px;
    text-align: center;
    color: #34365A;
    font-size: 20px;
    font-family: "cena9";
}

@font-face {
    font-family: "cena9";
    src: url(Open_Sans/README.txt)
}

.cena10 {
    text-align: center;
    color: #34365A;
    font-family: "cena10";
    font-size: 15px;

}

@font-face {
    font-family: "cena10";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf)
}

.cena11 {
    margin-top: 230px;
    text-align: center;
    color: #34365A;
    font-size: 20px;
    font-family: "cena11";

}

@font-face {
    font-family: "cena11";
    src: url(Open_Sans/README.txt)
}

.cena12 {
    text-align: center;
    color: #34365A;
    font-family: "cena12";
    font-size: 15px;

}

@font-face {
    font-family: "cena12";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

.cena13 {
    margin-top: 230px;
    text-align: center;
    color: #34365A;
    font-family: "cena13";
    font-size: 20px;
}

@font-face {
    font-family: "cena13";
    src: url(Open_Sans/README.txt)
}

.cena14 {
    text-align: center;
    color: #34365A;
    font-size: 15px;
    font-family: "cena14";
}

@font-face {
    font-family: "cena14";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf)
}

.circle1,
.circle2,
.circle3,
.circle4 {
    height: 118px;
    width: 120px;
    background-color: #f1bb13;
    border-radius: 100px;
    margin-top: -300px;
    margin-left: 90px;

}

.strategy {
    margin-left: 65px;
    margin-top: -65px;
}

.mission {
    margin-left: 65px;
    margin-top: -65px;
}

.development {
    margin-left: 65px;
    margin-top: -65px;
}

.team {
    margin-left: 65px;
    margin-top: -65px;
}

.subman {
    height: 132px;
    width: 634px;
    margin-left: 110px;
    margin-top: 90px;
}

.gill1 {
    font-size: 49px;
    color: #f1bb13;
    font-family: "gill1";

}

@font-face {
    font-family: "gill1";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);

}

.gill2 {
    font-size: 20px;
    color: #ffffff;
    margin-top: -12px;
    font-family: "gill2";

}
@media screen {
    z1{

    }
}

@font-face {
    font-family: "gill2";
    src: url(Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}

.joe {
    height: 350px;
    width:100%;
    margin-top: 60px;
    margin-left: 110px;
    display: flex;
}

.root1 {
    height: 340px;
    width: 265px;

}

.root2 {
    height: 340px;
    width: 265px;
    margin-left: 18px;
}

.root3 {
    height: 340px;
    width: 265px;
    margin-left: 18px;

}

.root4 {

    height: 340px;
    width: 265px;
    margin-left: 18px;

}

.root5 {
    padding-top: 170px;
    font-size: 19px;
    color: #ffffff;

}

.root6 {
    padding-top: 170px;
    font-size: 19px;
    color: #ffffff;

}

.root7 {
    padding-top: 170px;
    font-size: 19px;
    color: #ffffff;
}

.root8 {
    padding-top: 170px;
    font-size: 19px;
    color: #ffffff;
}

.circ1,
.circ2,
.circ3,
.circ4 {
    height: 59px;
    width: 61px;
    border-radius: 30px;
    background-color: #f1bb13;
    margin-top: -250px;

}

.root9,
.root10,
.root11,
.root12 {
    margin-top: -160px;
    font-size: 60px;
    color: #ffffff;
    font-family: "roots";
}

    @font-face {
        font-family: "roots";
        src: url(Montserrat/static/Montserrat-Bold.ttf);
    }

.shivam {
    height: 700px;
    margin-top: 46px;
    background-image: url(IMAGES/desk-office.jpg);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;

}

.mavi1 {
    height: 452px;
    width: 510px;
    margin-left: 100px;
    margin-top: 128px;
    background-color: #ffffff;
    border-radius: 20px;

}

.mavi2 {
    border: 1px solid white;
    height: 54px;
    width: 190px;
    margin-top: 460px;
    margin-left: -475px;

    border-radius: 50px;
    background-color: #f1bb13;
}

.mavi2:hover {
    background-color: darkred;
    color: white;
}

.learn {
    text-align: center;
    font-family: "learn";
    font-size: 16px;
    color: #111111;
    margin-top: 15px;
}

@font-face {
    font-family: "learn";
    src: url(Open_Sans/static/OpenSans/OpenSans-SemiBold.ttf);
}

.learn1 {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 35px;
    font-family: "learn1";
    font-size: 20px;
    color: #111111;
}

@font-face {
    font-family: "learn1";
    src: url(Open_Sans/static/OpenSans/OpenSans-Regular.ttf);

}

.learn2 {
    font-size: 18px;
    margin-top: 70px;
    margin-left: 35px;
    font-family: "learn2";
    font-size: 48px;
    color: #111111;
}

@font-face {
    font-family: "learn2";
    src: url(Open_Sans/static/OpenSans/OpenSans-Bold.ttf);
}

.mango {
    border: 1px solid #34365A;
    height: 795px;
    background-color: #34365A;
    position: relative;
}

.db {
    height: 190px;
    width: 100%;
    margin-top: 80px;
    padding-left: 50px;
    display: flex;
    justify-content: space-around;
}

.db1 {
    height: 190px;
    width: 190px;
    margin-left: 30px;
}

.db2 {
    height: 190px;
    width: 190px;
    margin-left: -70px;

}

.db3 {
    height: 190px;
    width: 190px;
    margin-left: -50px;
}

.db4 {
    height: 190px;
    width: 190px;
    margin-left: -50px;
}

.special {
    margin-top: -15px;
    margin-left: 8px;
    color: #ffffff;
    font-family: "special";
    font-size: 16px;
}

@font-face {
    font-family: "special";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf)
}
.client {
    margin-top: -15px;
    color: #ffffff;
    padding-left: 15px;
    font-family: "client";
    font-size: 16px;

}

@font-face {
    font-family: "client";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf)
}

.cases {
    margin-top: -15px;
    color: #ffffff;
    font-family: "cases";
    font-size: 16px;
}
@font-face {
    font-family:"cases" ;
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}


.award {
    padding-left: 15px;
    margin-top: -15px;
    color: #ffffff;
    font-family: "award";
    font-size: 16px;

}
@font-face {
    font-family: "award";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf)
}

.six1,
.six2,
.six3,
.six4 {
    margin-top: 25px;
    font-size: 48px;
    color: #ffffff;
    margin-left: 25px;
    font-family:"six" ;
}
@font-face {
    font-family: "six";
    src: url(Montserrat/static/Montserrat-Bold.ttf);
}

.yellowcirc {
    height: 66px;
    width: 66px;
    margin-left: 20px;
    border-radius: 35px;
    background-color: #f1bb13;

}

.yellowcirc1 {
    height: 66px;
    width: 66px;
    margin-left: 35px;
    border-radius: 35px;
    background-color: #f1bb13;
}

.yellowcirc2 {
    height: 66px;
    width: 66px;
    margin-left: 35px;
    border-radius: 35px;
    background-color: #f1bb13;


}

.yellowcirc3 {
    height: 66px;
    width: 66px;
    margin-left: 20px;
    border-radius: 35px;
    background-color: #f1bb13;

}
.m1,
.m2,
.m3,.m4{
    margin-left: 15px;
    margin-top: 15px;
}


.what{
    height: 84px;
    width: 504px;
    margin-left: 170px;
    margin-top: 170px;
}
.f1{
    font-size: 48px;
    color: #ffffff;
  
    font-family: "f1";

}
@font-face {
    font-family: "f1";
    src: url(Open_Sans/static/OpenSans/OpenSans-Bold.ttf);

}
.corevalues{

    height: 1070px;
    background-color: #f1bb13;
}
.core{
    height: 484px;
    width: 100%;
    display: flex;
    justify-content:space-around ;
    padding-left: 80px;
    position: absolute;
    top:3326px ;
    margin-left: -100px;
}
.core1,.core2,.core3{
    height: 465px;
    width: 323px;
    border-radius: 20px;
    background-color: #ffffff;
}
.core1{
    margin-left: 70px;
}
.core2,.core3{
    margin-left: -110px;

}
.owner,.accountant,.manager{
    margin-top: -30px;
    margin-left: 28px;
    color: #34365A;
    font-family: "manager";
    font-size: 17px;

}
@font-face{
    font-family: "manager";
    src: url(Open_Sans/static/OpenSans/OpenSans-Light.ttf);
}
.sasha,.nat,.bob{
    margin-top: 25px;
    margin-left: 28px;
    color: #34365A;
    font-size: 24px;
    font-family: "bob";

}
@font-face{
    font-family: "bob";
    src: url(Open_Sans/static/OpenSans/OpenSans-Medium.ttf);
}
.sasha1{
    margin-top: 15px;
    margin-left: 28px;
    border-radius: 50px;

}
.nat1{
    margin-top: 15px;
    margin-left: 28px;
    border-radius: 50px;

}
.bob1{
    margin-top: 15px;
    margin-left: 28px;
    border-radius: 50px;

}
.para1,.para2,.para3{
    font-size: 18px;
    color: #808080;
    margin-top: 20px;
    margin-left: 28px;
    font-family: "para";
}
@font-face{
    font-family: "para";
    src: url(Open_Sans/static/OpenSans/OpenSans-Light.ttf);
}
.quotation1,.quotation2,.quotation3{
    margin-top: 30px;
    margin-left: 28px;

}
.values{
   padding-left: 100px;
    padding-top: 310px;
    font-size: 42px;
    color: #111111;
    font-family: "values";
}
@font-face{
    font-family: "values";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
.content{
    height: 540px;
    width: 1186px;   
    margin-left: 100px;
    margin-top: 10px;
}
.content1{
    height:130px;
    width:100%;  
    display: flex;
}
.safety{
    height:127px;
    width: 575px;
   
}
.safe{
    font-size: 16px;
    font-family: "safe";
    color: #111111;
    
}
@font-face {
    font-family: "safe";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf)
}
.safe1{
    font-size: 23px;
    color: #111111;
    font-family: "safe1";
}
@font-face {
    font-family: "safe1";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf)
}

.excellence{
    height:127px;
    width: 575px; 
    margin-left: 25px; 
  

}
.excel{
    font-size: 16px;
    font-family: "excel";
    color: #111111;
}
@font-face {
    font-family: "excel";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf)
}
.excel1{
    font-size: 23px;
    color: #111111;
    font-family: "safe1";

}
@font-face {
    font-family: "safe1";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf)
}
.content2{
    height:130px;
    width: 100%;  
    display: flex;
    margin-top: 65px;
   

}
.accountability{
    height:127px;
    width: 575px; 
   
  
}
.account{
    font-size: 16px;
    font-family: "account";
    color: #111111;
}
@font-face {
    font-family: "account";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf)
}
.account1{
    font-size: 23px;
    color: #111111;
    font-family: "safe1";

}
@font-face {
    font-family: "safe1";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf)
}


.kindness{
    height:127px;
    width: 575px; 
    margin-left: 20px; 
}
.kind{
    font-size: 16px;
    font-family: "kind";
    color: #111111;

}
@font-face {
    font-family: "kind";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf)
}
.kind1{
    font-size: 23px;
    color: #111111;
    font-family: "safe1";

}
@font-face {
    font-family: "safe1";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf)
}

.content3{
    height:130px;
    width: 100%;  
    display: flex;
    margin-top: 40px;
    

}
.learning{
    height:127px;
    width: 595px;  
    
}
.learning1{
    font-size: 16px;
    font-family: "learning1";
    color: #111111;
}
@font-face {
    font-family: "learning1";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf)
}
.learning2{
    font-size: 23px;
    color: #111111;
    font-family: "safe1";

}
@font-face {
    font-family: "safe1";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf)
}


.teamwork{
    height:127px;
    width: 595px; 
    margin-left: 20px; 

}
.teamwork1{
    font-size: 16px;
    font-family: "teamwork1";
    color: #111111;
}
@font-face {
    font-family: "teamwork1";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf)
}
.teamwork2{
    font-size: 23px;
    color: #111111;
    font-family: "safe1";

}
@font-face {
    font-family: "safe1";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf)
}
.percentage{
    border: 1px solid #34365A;
    height:613px;
    background-color: #34365A;
}
.percentage1{
    height: 330px;
    width: 100%;
    display: flex;
    margin-left: 110px;
    margin-top: 70px;
}
.fifty{
    height: 329px;
    width: 318px;
    border-radius: 50px;
    background-color: #f1bb13;
}
.thirtysix{
    height: 329px;
    width: 318px;
    margin-left: 20px;
    border-radius: 50px;
    background-color: #ffffff;

}
.twenty{
    height: 329px;
    width: 318px;
    margin-left:20px;
    border-radius: 50px;
    background-color: #f1bb13;

}
.sample1,.sample2,.sample3{
    padding-left: 30px;
    margin-top: -55px;
    font-size: 20px;
    color: #111111;
    font-family: "sample";
}
@font-face{
    font-family: "sample";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

.fifty1,.thirtysix1,.twenty1{
    padding-left: 30px;
    font-size: 73px;
    font-family: "numbers";
}
@font-face {
    font-family: "numbers";
    src: url(Open_Sans/static/OpenSans/OpenSans-Bold.ttf);
}
.inspire{
    margin-left: 110px;
    margin-top: 30px;
    font-size: 31px;
    color: #ffffff;
    font-family: "inspire";
}
@font-face {
    font-family: "inspire";
    src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
}
.hand{
    height: 592px;
    background-image: url(IMAGES/bg\ img.jpg);
    display: flex;
     
}

.coach{
    height: 572px;
    width: 540px;
    margin-left: 110px;
    margin-top: 35px;

}
.cup{
    height: 592px;
    width: 700px;
    background-image: url(IMAGES/cuphands.jpg);
    background-position: 50% 50%;
    background-size: cover;

}
.learnmore{
   
    height: 55px;
    width: 193px;
    background-color: #34365A;
    border-radius: 50px;
    margin-left: 25px;
    margin-top: 70px;
}
.learnmore:hover{
    background-color: darkred;
    
}
.l1{
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    padding-top: 18px;
    font-family: "l1";

}
@font-face {
    font-family: "l1";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
.principle{
    margin-left: 25px;
    color: #111111;
    font-size: 20px;
    margin-top: 25px;
    font-family: "principle";
    line-height: 35px;

}
@font-face{
    font-family: "principle";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
.professional{
    color: #111111;
    font-size: 48px;
    margin-left: 25px;
    font-family: "professional";
    line-height: 55px;
}
@font-face{
    font-family: "professional";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
.submitpage{
    height: 515px;
    background-color: #34365A;
}
.submit{
    height: 395px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    padding-top: 95px;
   
}
.page1{
    height: 360px;
    width: 350px;
margin-left: -40px;
   
}
.page2{
    height: 360px;
    width: 250px;
    margin-left: -40px;


}
.page3{
    height: 360px;
    width: 360px;
   
    margin-left:-90px;

}
.media{
    height: 50px;
    width: 260px;
    margin-top: 30px;
}
.fb1,.fb2,.fb3,.fb4,.fb5{
    border-radius: 30px;
}
.fb1,.fb2,.fb3,.fb4{
   margin-left: 10px;
}
.getin{
    font-size: 36px;
    color: #ffffff;
    font-family: "getin";
    margin-top: -5px;
}
@font-face {
    font-family: "getin";
    src: url(Open_Sans/static/OpenSans/OpenSans-Bold.ttf);

}
.believe{
    font-size: 19px;
    color: #ffffff;
    font-family: "believe";
    line-height: 32px;
    margin-top: -5px;
}
@font-face{
    font-family: "believe";
    src: url(Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}
.etiam{
    font-size: 16px;
    color: #ffffff;
    font-family:"etiam";
    line-height: 30px;

}
@font-face{
    font-family:"etiam";
    src: url(Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}
.consult,.coaching,.develop{
    color: #ffffff;
    list-style-type:circle;
    margin-left: -15px;
    line-height: 95px;
    margin-top: -65px; 
    font-family:"consult";
    
}
@font-face{
    font-family:"consult";
    src: url(Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}
.services{
    color: #ffffff;
    margin-left: -32px;    
    font-size: 20px;
    margin-top: 10px;
    font-family: "call";

}
.address{
    color: #ffffff;
    margin-left: -32px; 
    line-height: 28px;   
    margin-top: -30px;
    font-family:"address";

}
@font-face{
    font-family:"address";
    src: url(Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}
.location{
    color: #ffffff;
    margin-left: -32px;  
    font-size: 20px;  
    margin-top: -7px;
    font-family: "call";

}
.numbers{
    color: #ffffff;
    margin-left: -32px;
    font-size: 18px;
    line-height: 30px;
    margin-top: -35px;
}
.call{
    color: #ffffff;
    margin-top: -5px;
    font-size: 20px;  
    margin-left: 5px;
    font-family: "call";

}
@font-face {
    font-family: "call";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf)
}
.button{
    height: 47px;
    width: 310px;
    border-radius: 70px;
    background-color: #f1bb13;
    margin-top: 25px;
}
.button:hover{
    background-color: darkred;}
.button1{
    color: #111111;
    font-size: 19px;
   margin-left: 110px;
   padding-top: 12px;
   font-family: "valid2";

}
@font-face {
    font-family: "valid2";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
.h{
    height: 1px;
    width: 310px;
    background-color: #ffffff;
    margin-left: -1px;
    margin-top: 130px;
}
.h1{
    height: 1px;
    width: 310px;
    background-color: #ffffff;
    margin-left: -1px;
    margin-top: -px;
    
}
.valid{
    margin-top: 30px;
    margin-left: 10px;
    color: #ffffff;
    font-family: "valid";

}
@font-face {
    font-family: "valid";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
.h2{
    height: 1px;
    width: 310px;
    background-color: #ffffff;
    margin-left: -1px; 
    margin-top: -10px;

}
.name{
    color: #ffffff;   
    margin-left: 10px;
    margin-top: -1px;
    font-family: "valid1";

}

@font-face {
    font-family: "valid1";
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
.footer{
    border: 1px solid #333333;
    height: 120px;
    background-color: #333333;
}
.footer1{
    font-size: 24px;
    margin-left: 540px;
    margin-top: 50px;
    color:#ffffff ;
}
